[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
scikit-image = "*"
scipy = "*"
joblib = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
jupyterlab = "*"
ipywidgets = "*"
plotly = "*"
imageio = "*"
pillow = "*"
requests = "*"
tqdm = "*"
tensorflow = "*"
ipykernel = "*"
nbdime = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
